.back-button{
      background-color: rgba(128, 128, 128, 0.896);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: aliceblue;
    width: 100px;
    border: none;
    width: 200px;
    margin-bottom: 10px;
}
.back-button:hover{
      border-color: rgba(0, 0, 0, 0.5); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    transform: scale(1.03);
    cursor: pointer; 
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding-top: 10px;
    padding-bottom: 20px;
    height: 90vh;
    
}
.imagedescription{
    width: 500px;
   border-radius: 10px;
    
}
.blockevenement{
   border-radius: 10px;
   display: flex;
   justify-content: space-around;

}
.blockevenement1{
    margin-left: 20px;
    width: 600px;
}
.blockbutton{
    margin-top: 60px;
}
.inscriptionEvenement{
    background-color: rgba(128, 128, 128, 0.896);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: aliceblue;
    width: 100px;
    border: none;
    width: 200px;
}
.inscriptionEvenement:hover{
      border-color: rgba(0, 0, 0, 0.5); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    transform: scale(1.03);
    cursor: pointer; 
}
@media screen and (max-width: 768px) {
.blockevenement{

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 
}
.blockevenement1{
    margin-left:0;
    width: 300px;
}
.imagedescription{
    width: 300px;
    height: 200px;
   border-radius: 10px;
    
}
main{

    height: 100vh;
    margin-top: 50px;
}
.messageErreur{
    width: 250px;
}
}